<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
<div id="container" style="height: 100%"></div>
<script type="text/javascript" src="../../innerjs/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
<script type="text/javascript">
    var resultMap = {};
    var bookdataList = new Array();
    var valueList = new Array();
    var dateList = new Array();
    var booknameList = new Array();
    var mapdata = {};
    $(function () {
        bookscountsInit();
    });
    function bookscountsInit() {
        $.post("/books/bookscountsmap", {}, function (res) {
            if (res != null && res.success) {
                resultMap = res.data;
                var series = new Array();

                for (var mapTemp in resultMap.bookcount) {
                    var tempObj = {};
                    var tempObj2= {};
                    tempObj.type = 'bar';
                    tempObj.data = resultMap.bookcount[mapTemp][1];
                    tempObj2.type = 'bar';
                    tempObj2.data = resultMap.bookcount[mapTemp][2];
                    series.push(tempObj);
                    series.push(tempObj2);
                }

                myChart.setOption({
                    xAxis:[{
                        data:resultMap.bookdates
                    }],
                    legend:{
                        data:resultMap.booknames
                    },
                    series:series
                });
            }
        });
    }
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    app.title = '折柱混合';

    option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
            feature: {
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        legend: {
            data:[]
        },
        xAxis: [
            {
                type: 'category',
                data: [],
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '下载和查看量',//resultMap.bookname[0],
                axisLabel: {
                    formatter: '{value} ml'
                }
            }
        ],
        series: [
        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>
</body>
</html>