<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../../css/style.css" />
<link rel="stylesheet" type="text/css" href="../../css/WdatePicker.css" />
<link rel="stylesheet" type="text/css" href="../../css/skin_/table.css" />
<link rel="stylesheet" type="text/css" href="../../css/jquery.grid.css" />

<title>审核电子书</title>
</head>
<body>
<div id="container">
	<div id="hd"></div>
    <div id="bd">
    	<div id="main">
        	<div class="search-box ue-clear">
            	<div class="search-area">

                    <div class="kv-item ue-clear">
                        <label>选择类型:</label>
                        <div class="kv-item-content">
                            <select id = "slt-wait-no-examine">
                                <option value = "-1" selected>待审核与不通过</option>
                                <option value="0">待审核</option>
                                <option value="2">审核不通过</option>
                                <option value="1">已通过</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="search-button">
                	<input class="button" type="button" value="搜索一下" />
                </div>
             </div>
            <div class="table">
            	<div class="opt ue-clear">
                	<span class="sortarea">
                    	<span class="sort">
                        	<label>排序：</label>
                            <span class="name">
                            	<i class="icon"></i>
                                <span class="text">名称</span>
                            </span>
                        </span>
                        <i class="list"></i>
                        <i class="card"></i>
                    </span>
                	<span class="optarea">
                        <a href="javascript:;" class="add">
                            <i class="icon"></i>
                            <span class="text">添加</span>
                        </a>
                        <a href="javascript:;" class="delete">
                            <i class="icon"></i>
                            <span class="text">删除</span>
                        </a>
                        <a href="javascript:;" class="statistics">
                            <i class="icon"></i>
                            <span class="text">统计</span>
                        </a>
                        <a href="javascript:;" class="config">
                            <i class="icon"></i>
                            <span class="text">配置</span>
                        </a>
                    </span>
                </div>
                <div class="grid"></div>
                <div class="pagination"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/global.js"></script>
<script type="text/javascript" src="../../js/jquery.select.js"></script>
<script type="text/javascript" src="../../js/core.js"></script>
<script type="text/javascript" src="../../js/jquery.pagination.js"></script>
<script type="text/javascript" src="../../js/jquery.grid.js"></script>
<script type="text/javascript" src="../../js/WdatePicker.js"></script>
<script type="text/javascript">
	$('select').select();
	var head = [{
				label: '图书名称',
				width: 100,
				sortable: 'default',
				name: 'id'	
			},{
				label:'所属类型',
				width: 150,
				sortable: 'default',
				name:'name'	
			},{
				label:'审核情况',
				width:150	
			},{
				label: '审核人',
				width: 120	
			},{
				label: '下载量',
				width:70
			},{
                label: '查看量',
                width:70
            },{
                label: '上传时间',
                width:160
            },{
                label: '描述',
                width:190
            }];

	var tbody = [];

        $(function () {
            debugger
            sendAjaxForObj(1);
            tableListen();
        });
        
        function tableListen() {
            sltwaitnoexamine();
        }

        function sltwaitnoexamine() {
            $("#slt-wait-no-examine").on("change",function () {
                sendAjaxForObj(1);
            })
        }

	    function sendAjaxForObj (index) {
	        // index = (index == null) ? 0 : index;
	        $.ajax({
                url : "/books/examinebookdata",
                type : "post",
                cache:false,
                data : {
                    "page" : index ,
                    "size" : 10,
                    "examine" : $("#slt-wait-no-examine option:selected").val()
                },
                success:function (res) {
                    pageFun(res.data);
                    tbody = new Array();
                    var currec = res.data.pageNum;
                    $.each(res.data.list, function (index, value) {
                        var tempArr = new Array();
                        tempArr.push("<a href='javascript:;' onclick='window.open(\"/books/onlinebook?id="+value.id+" \", \"_blank\")'>" + value.name +"</a>");
                        tempArr.push(value.kind.name);
                        tempArr.push(value.examine == 1 ? '审核通过' : (value.examine == 0 ? '待审核' : '审核不通过'));
                        tempArr.push(value.examinename);
                        tempArr.push(value.downcount);
                        tempArr.push(value.onlinecount);
                        tempArr.push(value.updatedate);
                        tempArr.push(value.detail);
                        var oper = new Array();
                        var pass = {label:'通过',value: value.id,onclick:function(){
                                $.post(
                                    "/books/saveorupdatebook",
                                    {"examine" : 1, "id":$(this)[0].value},
                                    function (res) {
                                        if (res != null && res.success) {
                                            sendAjaxForObj(currec);
                                        }
                                    }
                                );
                            }};
                        var nopass = {label:"不通过", value:value.id,onclick:function () {
                                $.post(
                                    "/books/saveorupdatebook",
                                    {"examine" : 2, "id":$(this)[0].value},
                                    function (res) {
                                        if (res != null && res.success) {
                                            sendAjaxForObj(currec);
                                        }
                                    }
                                );
                            }
                        };

                        if (value.examine == 0) {
                            oper.push(pass);
                            oper.push(nopass);
                        } else if (value.examine == 1) {
                            oper.push(nopass);
                        } else {
                            oper.push(pass);
                        }
                        tempArr.push(oper);
                        tbody.push(tempArr);
                    });
                    /// 模拟异步
                    setTimeout(function(){
                        $('.grid').Grid('setData',tbody, head);
                    },100);
                }
            });
        }

		$('.grid').Grid({
			thead: head,
			tbody: null,
			height:400,
			operator: {
				type : "normal",
				width : 100	
			},
			sortCallBack : function(name,index,type){
				alert(name+","+index+','+type);
			}
			
		});
	
	$('.grid').Grid('addLoading');
    function pageFun (data) {
        $('.pagination').pagination(data.total, {
            totalData:data.total,
            current_page:data.pageNum - 1,
            callback: function (index) {
                sendAjaxForObj(index + 1);
            },
            display_msg: false
        });
    }
	
	/*$('.search-box input[type=radio]').click(function(e) {
        if($(this).prop('checked')){
			if($(this).attr('data-define') === 'define'){
				$('.define-input').show();
			}else{
				$('.define-input').hide();
			}
		}
    });*/
</script>
</html>
